{{ define "main" }}
  <div class="back-arrow-container">
    <a href="{{ .Site.BaseURL }}">
      <span class="material-symbols-outlined">
        arrow_back
        </span>
    </a>
  </div>  

  <h1 class="title">{{ .Title }}</h1>
  <div class="container">
    {{ range .Params.menu }}
    <div class="menu-item">
      <div>
        <img src="{{ .logo }}" class="company-logo">
      </div>
      <div class="single-experience">
        <div class="company-name">
          <h2>{{ .position }}</h2>
          <h3>{{ .company }}</h3>
          <p>{{ .date }}</p>
          <hr>
        </div>
        <p>{{ .description | markdownify}}</p>
      </div>
    </div>
    {{ end }}
  </div>
  <div id="publish_date">
    <p>Published Date - {{ .Date | time.Format ":date_medium" }}</p>
  </div>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}

