body {
  font-family: "Gelasio", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f9f9;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-item {
  display: inline;
  padding: 10px;
}

.menu-item {
  display: flex;
  margin-bottom: 30px;
  /* padding: 10px; */
}

.company-logo {
  width: 40px;
  margin-right: 10px;
}

.title {
  color: maroon;
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  /* text-decoration: underline;
  text-underline-offset: 15px; */
  color: #333;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: left;
}

.company-name p {
  font-size: 1rem;
  /* text-decoration: underline;
  text-underline-offset: 15px; */
  color: #737373;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: italic;
}

h3 {
  font-size: 1rem;
  color: #333;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #737373;
}

.single-experience p {
  text-align: left;
}

hr {
  width: 30px;
  height: 4px;
  color: maroon;
  background-color: maroon;
  border: none;
  margin-left: 0px;
}

a {
  text-decoration: underline;
  color: maroon;
} 

.allergen-item {
  color: #737373;
}

#home-content-container {
  padding: 50px;
}

#home-menus-container {
  padding: 0px 50px 50px;
}

.back-arrow-container {
  color: grey;
  padding-bottom: 10px;
}

.back-arrow-container>a>span{
  position: absolute;
  left: 10px;
  top: 10px;
}

#publish_date p{
  padding: 20px;
  font-size: 1rem;
  opacity: 50%;
}