
body {
  font-family: "Gelasio", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f9f9;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
}

.container {
  padding: 20px;
  margin: 50px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-item {
  display: inline;
  padding: 10px;
}

.menu-item {
  margin-bottom: 30px;
  padding: 10px;
}

/*
.name-and-image {
  display: flex;
  justify-content: center; 
  align-items: center;   
  gap: 20px;        
  margin-top: 50px;
}
*/
.name-and-image img {
  /* margin-top: -100px; */
  width: 10%;
  height: auto;
}


h2 {
  font-size: 1.3rem;
  /* text-decoration: underline; */
  /* text-underline-offset: 15px; */ 
  margin-bottom: 5px;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: #333;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #737373;
}

hr {
  width: 5%;
  height: 4px;
  color: #676767;
  background-color: #ababab;
  border: none;
}

a,
a:link,
a:visited,
a:hover,
a:active,
div a,
div[style] a,
p a,
#home-content-container a,
#home-content-container div a {
  text-decoration: none !important;
  color: maroon
}

.allergen-item {
  color: #737373;
}

#home-content-container {
  padding: 50px;
}

#home-menus-container {
  padding: 0px 50px 50px;
}

.back-arrow-container {
  color: grey;
  padding-bottom: 10px;
}

.back-arrow-container>a>span{
  position: absolute;
  left: 10px;
  top: 10px;
}

#publish_date p{
  padding: 20px;
  font-size: 1rem;
  opacity: 50%;
}